{%load porcentaje%}
<html>
<head></head>
<body>
<form method="POST" action="/">
    {% csrf_token %}
    {{form.as_table}}
    <input type="submit" value="filtrar"/>
</form>
<table border=1 style="font-size:14px;">
<thead>
<tr>
<th></th>
<th>Fecha</th>
<th>Descripcion</th>
{%for c in cuentas%}
    <th>
        {{c}}        
    </th>
{%endfor%}
</tr>
<tr>
<td colspan=3>Saldo Inicial Abril</td>
{%for c in cuentas%}
    <th>
        {{c.saldo_inicial|decimal_format:c.moneda}}        
    </th>
{%endfor%}
</tr>
</thead>
<tbody>

{%regroup lineas by fecha.month as lineas_mes%}
{%for mes in lineas_mes %}
	<tr>
	    <td colspan=11 style="background:#0F0;">{{mes.grouper}}</td>
	</tr>
	{%for row in mes.list|dictsort:"fecha" %}

	<tr>
	    <td>{{forloop.counter}}</td>
	    <td>{{row.fecha.isoformat}}</td>
	    <td>
	    {{row.descripcion}}
	    </td>
	    {%for c in cuentas%}
		    <td>
		        {%if c == row.cuenta%}
		            {{row.monto|decimal_format:c.moneda}}
		        {%endif%}        
		    </td>
	   {%endfor%}
    {%endfor%}
    <tr  style="background:#99F;">
        <td colspan=3>Total </td>    
        {%for c in cuentas%}
            <td>
                {% sum_value mes.list c 2 %}      
            </td>
       {%endfor%}    
    </tr>
{%endfor%}
</tr>
</tbody>
</table>
</body>
</html>